@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #1E293B;
}

*::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #0D7C66;
}
